/* WRAPPER */
.testimonial-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 90px 0;
  background: #f4f7ff;
}

/* MAIN CARD */
.testimonial-card {
  width: 85%;
  max-width: 1300px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
  position: relative;
}

/* LEFT SIDE */
.testimonial-left {
  position: relative;
}

/* IMAGE */
.testimonial-img {
  width: 330px;
  height: 330px;
  border-radius: 25px;
  object-fit: cover;
  z-index: 2;
}

/* FLOATING WHITE BOX */
.floating-box {
  position: absolute;
  top: -48px;
  left: 180px;
  width: 240px;
  height: 68px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.12);
  z-index: 3;
}

/* RIGHT SIDE */
.testimonial-content {
  flex: 1;
  position: relative;
}

/* QUOTE IMAGE */
.quote-img {
  width: 49px;
  margin-bottom: 9px;
  margin-left: 86px;
  margin-top: -42px;
}

/* TEXT */
.testimonial-text {
  font-size: 21px;
  line-height: 1.8;
  color: #333;
  max-width: 720px;
  margin-top: 11px;
  margin-left: 94px;
}
