body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f7f9fc;
}

.btn-primary {
  background: #4a55ff;
  color: #fff;
  padding: 12px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.highlight {
  color: #4a55ff;
}
